#divChart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 90%;
    height: 80%;
    background-color: #424242;
    color:rgba(255, 255, 255, 0.600);
    /* background-color: #c2185c63; */
}
