<div class="login-container">
    <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password">
    </mat-form-field>
    <div class="user-type">
        <label>
            <input type="radio" [(ngModel)]="userType" value="student">
            Student
        </label>
        <label>
            <input type="radio" [(ngModel)]="userType" value="profesor">
            Profesor
        </label>
    </div>
    <br>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>